<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head></head>
<body>

<table border="0" cellpadding="40">
    <tr>
        <td>
            <p>Dear [[${firstName}]],</p>
            <h3>Your top ups</h3>
            <p>Please find your ordered top up below:</p>

            <font face="verdana" size="4">
                <ul>
                    <li th:each="v : ${vouchers}">[[${v.code}]]</li>
                </ul>
            </font>

            <h3>How to use your code</h3>
            <p>To use your code go to <a href="https://redemption.wallettopup.co.uk">redemption form here</a>.

            <h3>When you have questions</h3>
            <p>If you have any questions here are your options:
            <ol>
                <li>Check our <a href="https://wallettopup.co.uk/pages/questions-and-answers">Q&A page here</a>.
                    There is a chance we have an answer for your question. We update that page regularly with new info.
                </li>
                <li>Reply to this e-mail.</li>
                <li>Contact us via <a href="https://www.facebook.com/cryptowallettopup">Facebook
                    Messenger.</a></li>
            </ol>
            <p>Thank you for using our services.</p>
            <p>Yours sincerely,<br>
                Wallet Top Up Team</p>
        </td>
    </tr>
</table>
</body>
</html>